@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Comic+Neue:wght@700&family=Raleway&family=Roboto+Mono:wght@100&display=swap');
@font-face {
    font-family: 'telegrafregular';
    src: url('font/telegraf_regular_400-webfont.eot');
    src: url('font/telegraf_regular_400-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/telegraf_regular_400-webfont.ttf') format('truetype'),
         url('font/telegraf_regular_400-webfont.svg#telegrafregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media only screen and (max-width: 959px) {
    p{
        font-size: 60px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    p{
        font-size: 60px;
    }
}

@media only screen and (max-width: 767px) {
    p{
        font-size: 45px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    p{
        font-size: 45px;
    }
}

@media only screen and (max-width: 479px) {
    p{
        font-size: 30px;
    }
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;

}


.landingpage{
    display: flex;
    width: 99vw;
    height: 100vh;
}

.img-inicio{
    width: 65vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D49F83;
    max-width: 100%;
    max-height: 100%;
  
}

.img-inicio img{
    height: 890px;
    width: 1160px;
    max-width: 100%;
    max-height: 100%;

}

.apresentacao{
    height: 100vh;
    width: 35vw;
    background-color: rgba(25,25,25,255);
    max-height: 100vh;
    max-width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo-inicio{
    background-color: rgba(25,25,25,255);
    height: auto;
}
.logo-inicio img{
    display: flex;
    position: relative;
    height: 17vh;
    width: 20vw;
    margin-left: 6vw;
}

.frase-inicio{
    font-family: 'Antonio', sans-serif;
    font-size: 85px;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    position: relative;
    bottom: 9vh;
}

.frase-inicio p, span{
    display: flex;
    flex-direction: column;

}

.word-color{
    color: white;
    width: 23vw;
}
.word-color2{
    color: #D49F83;
}


.marketing-clube{
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(25,25,25,255);

}

.frase-segunda-pagina{
    font-family: 'Antonio', sans-serif;
    font-size: 85px;
    color: white;
    flex-direction: row;
    height: auto;
    width: auto;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
    
}

.beneficios-clube{
    display: flex;
    justify-content: space-around;
    font-family: 'Antonio', sans-serif;
    font-size: 28px;
    align-items: center;
    height: auto;
    position: relative;
    bottom: 5vh;

}

.beneficios-clube ul{
    display: flex;
    justify-content: center;

}

.beneficios-clube li{
    border: 1px solid #D49F83;
    list-style: none;
    color: white;
    width: 20vw;
    height: 50vh;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}
.beneficios-clube strong{
    
}

.fonte-descricao{
    font-family: 'telegrafregular';
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.fonte-btn{
    text-decoration: none;
    color: rgba(25,25,25,255);
    font-family: 'Antonio', sans-serif;
    font-size: 28px;   
    
}
.beneficios-clube span{
    color:rgba(25,25,25,255);
    height: auto;
}
.alinhar{
    display: flex;
    justify-content: center;
    align-items: center;

}


.img-depoimento{
    height: 100%;
    width:  350px;
    max-height: 100%;
    max-width: 100%;

}



.depoimentos-container{
    width: 99vw;
    height: 100%;
    display: flex;
    color: white;
    max-height: 100%;
    max-width: 100%;
   
}   

.depoimentos-container > div{
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(25,25,25,255);
    
}
.nome-autor{
    font-family: 'Antonio', sans-serif;
    font-size: 28px;
    color: #916E67;
    font-size: 65px;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    top:4vh;
}

.fonte-depoimento{
    font-family: 'telegrafregular';
    font-size: 18px;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}





.contato{
    width: 99vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-color:#D49F83;
    font-family: 'Antonio', sans-serif;
    font-size: 23px;
    color: rgba(25,25,25,255);   
    flex-direction: row;

    
}

.aba-contato{
    border: 1px solid rgba(25,25,25,255);
    display: flex;
    align-items: center;
    flex-direction: column;
    height:60vh;
    width: auto;
    padding: 20px;
    position: relative;
    top: 10vh;
    left: 10vh;
    


}

.aba-contato h1{
    display: flex;
    height: auto;
    width: 12vw;
    

}
.formulario{
    height: 20vh;
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    font-size: 18px;
    position: relative;
}

.button{
    display: flex;
    justify-content: center;
    width: auto;
}
.button button{
    display: flex;
    text-decoration: none;
    padding: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
    color: white;
    display: flex;
    background-color: rgba(25,25,25,255);
    font-family: 'Antonio', sans-serif;
    font-size: 23px;
    border: 1px solid rgba(25,25,25,255);
    width: auto;

}

.inputUser{
    background-color: #D49F83;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(25,25,25,255) ;
    width: 20vw;
}
.inputArea{
    background-color: #D49F83;
    border: 1px solid black;
    outline: none;
    border-bottom: 1px solid rgba(25,25,25,255) ;
    width: 20vw;
    height: 20vh;
    top:1vh;
}

.inputUser:focus ~.labelInput,
.inputUser:valid ~.labelInput{
    top:-20px;
    font-size: 12px;
    
}

.inputArea:focus ~.labelArea,
.inputArea:valid ~.labelArea{
    top:-20px;
    font-size: 12px;

    
}
.labelInput{
    position: absolute;
    top: 0vh;
    left: 0.3vw;
    pointer-events: none;
    transition: .5s;


}

.labelArea{
    position: absolute;
    top: 0vh;
    left: 0.3vw;
    pointer-events: none;
    transition: .5s;


}
.espaco-botao{
    margin-bottom: 3vh;
    position: relative;
}

.social{
    background-color:#D49F83;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0vh;
    left: 0vw;
    height: 7vh;
    width: auto;
    top: 91vh;
    flex-direction: row;


}
.social ul{
    background-color: #D49F83;
    display: flex;
    height: auto;
}
.social li{
    background-color: #D49F83;
    list-style: none;

}

.social a{
    color: white;
    text-decoration: none;
    padding: 30px;
}
.social a:hover{
    color: rgba(25,25,25,255);
    transition-duration: 0.5s;
}
.contato img{
    width: 400px;
    height: 400px;
    position:relative;
    top: 15vh;
    right: 10vh;
}